.form {
  width: 500px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .input {
    width: 350px;
    margin-bottom: 20px !important; //temporary solution
  }
  
  .button {
    width: 350px;
  }
}

